@media (max-width: 1000px){
	.container {
		width: 90%;
	}
}

@media (max-width: 670px){
	header {
		height: 120px;
	}
	
	.header-left {
		height: 120px;
		float: left;
		text-align: left;
		/*border: solid 1px black;*/
	}
	
	.header-right {
		padding-top: 10px;
		float: right;
		text-align: right;
		/*border: solid 1px black;*/
	}
	
	.header-list {
		float: none;
		text-align: right;
	}
	
	
	.header-logo {
		text-align: center;
	}
	
	.top-wrapper {
		padding: 240px 0px 100px 0px;
	}
	
	.right-margin {
		margin-right: 0px;
	}
	.center-block-right {
		display: inline-block;
		text-align: center;
		/*border-bottom: solid 1px #5CDB95;*/
		/*border: solid 1px black;*/
	}
	
	.center-block-left {
		text-align: center;
		/*border: solid 1px black;*/
	}
	
	.footer {
		text-align: center;
	}
	
	.footer-right {
		float: none;
		display: inline-block;
	}
	
	.footer-right li {
		text-align: center;
	}
	
	.contents {
		display: none
	}
	
	.content {
		width: 100%;
	}
	
	.contents-2 {
		display: block;
	}
	
	.content-2 {
		vertical-align: top;
		width: 100%;
		display: inline-block;
		padding: 40px;
		/*border: solid 1px black;*/
		box-sizing: border-box;
	}
}

@media (max-width: 1667px){
	.content{
		width: 350px;
	}
}

@media (max-width: 1400px){
	.content {
		width: 300px;
	}
}

@media (max-width: 1170px){
	.content {
		width: 250px;
	}
	
}

@media (max-width: 870px){
	.content {
		width: 350px;
	}
}

@media (max-width: 800px){
	.content {
		width: 290px;
	}
}

