html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: montserrat;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #05386b;
    color:#5CDB95;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 15px 0px;
}

.header-left {
	font-family: montserrat;
    float: left;
    height: 40px;
}

.header-right {
	font-family: montserrat;
    float: right;
    height: 40px;
}

.header-right a:hover{
	color: white;
}

.header-logo{
	line-height: 40px;
    float: left;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}

.header-right ul {
	line-height: 40px;
}

.header-list {
    float: left;
    list-style: none;
}

.right-margin {
	margin-right: 50px;
}

.header-list a {
    color: #5cdb95;
    transition: all 0.3s;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url("Bg Main.png");
    background-size: cover;
    box-sizing: border-box;
    font-family: montserrat;
}

.heading {
	text-align: center;
}

.heading h1 {
    color: #d1ccc0;
    font-size: 80px;
    margin-bottom: 5px;
}

.heading h2 {
    color: #d1ccc0;
    font-size: 25px;
    margin-bottom: 20px;
}

.heading p {
    color: #d1ccc0;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;;
}

.main-body{
	padding-top: 30px;
}

.content-judul{
	font-family: poppins, montserrat, sans-serif;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	letter-spacing: 2px;
	color: #379683;
}

.contents{
	justify-content: center;
	/*border: solid 1px black;*/
	text-align: center;

}

.content{
	vertical-align: top;
	width: 260px;
	display: inline-block;
	padding: 40px;
	/*border: solid 1px black;*/
	box-sizing: border-box;
	
}

.contents-2 {
	display: none;
}

.photo img{
	transition: all 0.5s;
	width: 100%;
	opacity: 0.9;
	border-radius: 8px;

}

.photo img:hover{
	opacity: 1;
}

.photo{
	color: rgba(255,255,255,0.7);
	position: relative;
}

.photo:hover{
	color: rgba(255,255,255,1);
}

.photo h3, .ig{
	position: absolute;
}

.ig{
	width: 15%;
	top:  5%;
	right: 7%;
	float: right;
	opacity: 0.8;
	border-radius: 5px;
}

.ig:hover{
	opacity: 1;

}

.photo h3{
	font-family: montserrat, poppins, sans-serif;
	font-size: 40px;
	font-weight: bold;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	bottom: 7%;
	left: 7%;

}

.content p{
	font-family: montserrat, sans-serif;
	color: #379683;
	font-size: 14px;
	text-align: justify;
	padding-top: 35px;
	text-indent: 20px;
	line-height: 1.5;
	word-spacing: 1px;
}

.content-2 p{
	font-family: montserrat, sans-serif;
	color: #379683;
	font-size: 14px;
	text-align: justify;
	padding-top: 35px;
	text-indent: 20px;
	line-height: 1.5;
	word-spacing: 1px;

}

li {
    list-style: none;
}

.footer{
    background-color: #05386B;
    color:#5CDB95;
    height: 80px;
    padding: 40px 0px;
}

.footer-right{
	font-family: montserrat;
    float: left;
}

.footer-right li{
	text-align: left;
    padding-bottom: 20px;
}

.footer a {
	color:#5CDB95;
}

.footer a:hover{
	color: white;
	transition: all 0.3s;
}
